@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font: 'Roboto', sans-serif;

@mixin tester {
  border: 1px solid black;
}

.flex {
  display: flex;
  align-items: center;
}

@mixin center-flex {
  @extend .flex;
  justify-content: center;
}

@mixin between-flex {
  @extend .flex;
  justify-content: space-between;
}

@mixin evenly-flex {
  @extend .flex;
  justify-content: space-evenly;
}

@mixin box-commons {
  border-radius: 10px;
  box-shadow: 0px 4px 12px -2px;
}

@mixin wrap-flex {
  @extend .flex;
  flex-wrap: wrap;
}

@mixin color-commons {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    103deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
