@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font: 'Roboto', sans-serif;

@mixin tester {
  border: 1px solid black;
}

.flex {
  display: flex;
  align-items: center;
}

@mixin center-flex {
  @extend .flex;
  justify-content: center;
}

@mixin between-flex {
  @extend .flex;
  justify-content: space-between;
}

@mixin evenly-flex {
  @extend .flex;
  justify-content: space-evenly;
}

@mixin buttons {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(256, 256, 256, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

@mixin wrap-flex {
  @extend .flex;
  flex-wrap: wrap;
}
