.more-info {
  overflow: visible;
  height: 100%;
  width: 100%;
}

.icon {
  color: #0bc5ea;
  &--small {
    font-size: 10px;
  }
  &--medium {
    font-size: 15px;
  }
  &--big {
    font-size: 25px;
  }
  &--large {
    font-size: xx-large;
  }
}
